/HBaseWarmUp$1.class
/HBaseWarmUp.class
/MySQLWarmUp$1.class
/MySQLWarmUp.class
/query2WarmUp.class
/query2WarmUp$1.class
/query3WarmUp.class
/query3WarmUp$1.class
/query4WarmUp.class
/query4WarmUp$1.class
/query1WarmUp.class
/query1WarmUp$1.class
